body {
	color: #444;
	font-size: 16px;
	margin: 0;
	padding: 0 20px;
}

h1 {
	font-family: 'Nixie One', cursive;
	font-size: 1.75em;
	margin: 30px 0;
	text-align: center;
}

section {
	background: #dedede;
	border: 1px solid #000;
	box-sizing: border-box;
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.6;
	margin: 0 auto 20px;
	padding: 50px 20px 10px;
	position: relative;
	width: 100%;
}

h2 {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	font-family: 'Nixie One', cursive;
	font-size: 1.25em;
	margin: 0;
	padding: 5px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 150px;
}

.sectionone h2 {
	background: #CED8E1;
}

.sectiontwo h2 {
	background: #65829C;
	color: #eee;
}

.sectionthree h2 {
	background: #072540;
	color: #eee;
}

/*start tablet styles*/
@media only screen and (min-width: 768px) and (max-width: 991px)
{
	.sectionone, .sectiontwo {
		width: calc(50% - 10px);
	}

	.sectionone {
		float: left;
	}

	.sectiontwo {
		float: right;
	}

	.sectionthree {
		clear: both;
	}
}

/* start desktop styles */
@media only screen and (min-width: 992px)
{
	body {
		padding: 0 10px;
	}

	.sectionone, .sectiontwo, .sectionthree {
		float: left;
		width: calc(33.3% - 20px);
	}

	.sectionone {
		margin-left: 10px;
	}

	.sectiontwo, .sectionthree {
		margin-left: 20px;
	}
}
